<a href="https://colab.research.google.com/github/jinmeta/PYDS/blob/master/JINENDRA_MEHTA_Practical_23(180570107070).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practical 23

**Name:** Jinendra Mehta

**Enrollment No:** 180570107070

**Sem & Class:** 5EC2

In [52]:
from math import factorial as fact
def ncn(n,c):
  return int(fact(n)/(fact(c)*fact(n-c)))
x=int(input())
m=1
for i in range(x):
  j=0
  print(format("  "*(x-i),"<2"),end="")
  while j<=i:
    print(format(ncn(i,j),"<3"),end=" ")
    m+=1
    j+=1
  print("")

5
          1
        1   1
      1   2   1
    1   3   3   1
  1   4   6   4   1